@import url('https://fonts.googleapis.com/css?family=Poppins:200,400,600&display=swap');

// Breakpoints
$mobile: 375px;
$desktop: 1440px;

// colors
$red: hsl(0, 78%, 62%);
$cyan: hsl(180, 62%, 55%);
$orange: hsl(34, 97%, 64%);
$blue: hsl(212, 86%, 64%);
$blue-dark: hsl(234, 12%, 34%);
$blue-graish: hsl(229, 6%, 66%);
$gray-light: hsl(0, 0%, 98%);

// Typography
$body-font-size: 15px;
$f-family: 'Poppins', sans-serif;
$fw-light: 200;
$fw-normal: 400;
$fw-bold: 600;

@mixin mediaMin($bp){
  @media all and (min-width: $bp){
    @content;
  }
}

@mixin mediaMax($bp){
  @media all and (max-width: $bp){
    @content;
  }
}

*,
*::after,
*::before{
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}
html{
  font-size: 100%;
  box-sizing: border-box;
}
body{
  font-family: $f-family;
  font-size: $body-font-size;
  color: $blue-graish;
  background: #fff;
  padding: 2rem;
  background: $gray-light;
  height: 100%;
  width: 100%;
}

header{
  margin: 3rem auto;
  font-size: 0.75rem;
  width: 300px;
  text-align: center;

  h1{  
    color: $blue-dark;
    div{
      font-weight: $fw-light;
      color: $blue-graish;
    }
  }

  h2{
    margin-top: 1rem;
    font-weight: $fw-normal;
    font-size: 0.9rem;
  }
}

section{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.box{
  margin-top: 1.5rem;
  width: 300px;
  font-size: 0.9rem;
  box-shadow: 0 0 15px $blue-dark;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  align-items: flex-start;
  justify-content: space-between;
  border-top: 4px solid;

  h2{
    font-weight: $fw-bold;
    color: $blue-dark;
  }

  p{
    color: $blue-graish;
    font-size: 0.75rem;
    margin: 1rem 0;
  }

  .icon{
    align-self: flex-end;
  }

  &:nth-child(1){border-color: $cyan;}
  &:nth-child(2){border-color: $red;}
  &:nth-child(3){border-color: $orange;}
  &:nth-child(4){border-color: $blue;}
}

footer{
  margin-top: 2rem;
}